{{!--



<div class="jumbotron" style="background: white ;color: #2b3035;padding: 20px;" >
  <br><br>
  
  <h1 class="display-4 mt-4">Bem vindo a plataforma de publicidade</h1>
  <p class="lead" style="text-indent: inherit;">Esta é a sua plataforma de publicação de produtos, serviços, habilidades profissionais de diversas áreas, como assistentes técnicos, professores, mecânicos, consultores, designers, pedreiros, eletricistas, psicólogos e muito mais. ... </p>
  {{!-- <hr class="my-4"> --}}
  <p style="color: #245714;">Publique o seu contributo para tornar o mundo melhor.</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/usuarios/registo"  role="button">Crie uma conta</a>
  </p>
</div>

 <h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card mt-4" >
    <div class="card-body">
        
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria:{{categoria.nome}}</small>
        <br>
        <small>Data de Publicação: {{data}}</small>
        
    </div>
    
</div>

{{else}}
  <h5>Nenhuma postagem</h5>
{{/each}} --}}

<section class="section-estilo">
<h2>O que podemos fazer pelo seu negocio?</h2>
        <div class="servicos-estilo">
            <div class="card-estilo">
                <img src="img/pc.png" alt="">
                <div class="card-text-estilo">
                    <h3>Desenvolvimento de sites</h3>
                    <p>Sua empresa precisa de um Website para ter maior alcance de clientes, quebrando limites geograficos</p>
                </div>
                <div class="texto-oculto-estilo">
                    <h3>Website</h3>
                    <p>Quebre os limites geograficos para alcancar os seus clientes interessados em seus produtos e servicos.</p>
                </div>
            </div>
            <div class="card-estilo">
                <img src="img/smartphone.png" alt="">
                <div class="card-text-estilo">
                    <h3>Desenvolvimento de Apps</h3>

                    <p>Encomende connosco um sistema de acordo a realidade do seu negocio.</p>
                </div>
                <div class="texto-oculto-estilo">
                    <h3>APPS</h3>
                    <p>Encomende connosco um sistema de acordo a realidade do seu negocio.</p>
                </div>
            </div>
            <div class="card-estilo">
                <img src="img/marketing1.png" alt="">
                <div class="card-text-estilo">
                    <h3>Marketting Digital</h3>
                    <p>Aumente a visibilidade de acesso ao seu negocio por meio de mecanismos de publicidade para que os clientes te alcansem</p>
                </div>
                <div class="texto-oculto-estilo">
                    <h3>Marketting Digital</h3>
                    <p>Aumente a visibilidade de acesso ao seu negocio por meio de mecanismos de publicidade para que os clientes te alcansem</p>
                </div>
            </div>
        </div>
        </section>